/* General Styles */
:root {
    --primary-color: var(--color-primary);
    --bg-variant: var(--color-bg-variant);
    --light-color: var(--color-light);
    --transition: var(--transition);
    --border-radius-large: 2rem;
    --border-radius-medium: 0.7rem;
    --border-radius-small: 1rem;
    --padding-small: 0.6rem;
    --padding-large: 4rem;
    --font-size-icon: 1.4rem;
    --font-size-small: 0.7rem;
    --font-size-medium: 0.95rem;
}

.about_container {
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 15%;
}

.about_me {
    width: 90%;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-large);
    background: linear-gradient(-45deg, transparent, var(--primary-color));
    display: grid;
    place-items: center;
    margin: 1rem;
    padding: var(--padding-large) 0;
}

.about_me_image {
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    transform: rotate(-10deg);
    transition: var(--transition);
}

.about_me_image:hover {
    transform: rotate(0);
}

.about_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-top: 3rem;
}

.about_card {
    background: var(--bg-variant);
    border: 1px solid transparent;
    border-radius: var(--border-radius-small);
    padding: var(--padding-small);
    text-align: center;
    transition: var(--transition);
}

.about_card:hover {
    background: transparent;
    border-color: var(--primary-color);
    cursor: default;
}

.about_icon {
    color: var(--primary-color);
    font-size: var(--font-size-icon);
    margin-bottom: 0.4rem;
}

.about_card small {
    font-size: var(--font-size-small);
    color: var(--light-color);
}

.about_card h5 {
    font-size: var(--font-size-medium);
}

.about_content p {
    margin: 2rem 1.5rem 2.6rem;
}

/* Media Queries */

/* Medium devices (<= 1024px) */
@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me {
        width: 50%;
        height: 100%;
        margin: 2rem auto 4rem;
    }

    .about_content {
        margin: 1rem 0 1.5rem;
    }
}

/* Small devices (<= 600px) */
@media screen and (max-width: 600px) {
    .about_me {
        width: 65%;
        height: 100%;
        padding: 2rem 0;
        margin: 0 auto 3rem;
    }

    .about_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 3rem;
    }

    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: 1.5rem 1rem;
    }
}
